@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

$bg-color: #181818;
$color-gray: #6f6f6f;
$color-gray2: #a3a3a3;
$color-black: #373737;
$color-white: #ffffff;
$general-fonts: "Play", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;;
}

body {
  padding: 0.5rem 1.5rem;
}
/* HEADER SECTION */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      .logo-img {
        width: 50px; // Ajusta según el tamaño deseado
        height: auto;
      }
    }

    h1 {
      font-size: 2.5vw;
      color: #000000;
      margin: 0; // Asegúrate de eliminar el margen por defecto
    }

    form {
      display: flex;
      width: 41.6vw;
      aspect-ratio: 568/48;

      input {
        background-color: $color-white;
        outline: none;
        border: 1px solid $color-gray;
        border-radius: 5px 0 0 5px;
        width: 84.5%;
        height: 100%;
        font-size: 1.3vw;
        padding: 0.5rem 1rem;
        color: $bg-color;
        border-right: none;
      }

      button {
        width: 15.5%;
        height: 100%;
        background-color: $color-black;
        border: 2px solid $color-black;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg path{
          width: 1.76vw;
          color: white;
        }
      }
    }
  }
}
/* END SECTION HEADER */


// Media query para adaptar el encabezado a pantallas móviles
@media (max-width: 768px) {
  section {
    flex-direction: column; // Cambiar a columna para móviles
    align-items: center; // Alinear verticalmente
    gap: 1rem; // Espacio entre los elementos

    .logo {
      margin-bottom: 1rem; // Espacio debajo del logo
      margin-right: 0; // Eliminar margen derecho
    }

    h1 {
      margin-bottom: 1rem; // Espacio debajo del título
    }

    form {
      width: 80%; // Asegurar que el formulario se ajuste al ancho del contenedor
      height: 30px;
      margin-top: 0; // Eliminar margen superior

      input {
        
        width: 84.5%;
        height: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: $bg-color;
        border-right: none;
      }

      button {
        svg {
          width: 3vw;
        }
      }
    }
  }

  @media (max-width: 480px) {
    section {
      gap: 1rem; // Espacio entre los elementos en pantallas más pequeñas

      .logo {
        margin-bottom: 0.5rem; // Espacio debajo del logo
      }

      h1 {
        margin-bottom: 0.5rem; // Espacio debajo del título
      }

      form {
        width: 80%; // Asegurar que el formulario se ajuste al ancho del contenedor
        button {
          svg {
            width: 4vw;
          }
        }
      }
    }
  }
}





/* MAIN SECTION */
.pokemon-details-container {
    background: url(/src/img/backgraund-url.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  max-width: 800px; // Ajusta el ancho máximo si es necesario
  margin: auto;
  margin-bottom: 2rem;

  @media (min-width: 601px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pokemon-image-container {
  display: flex;
  flex-direction: column; // Asegura que el encabezado esté encima de la imagen
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 601px) {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.pokemon-img {
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}

.pokemon-img:hover{
  transform: scale(1.2);
}

.pokemon-header {
  gap: 8px;
  display: flex;
  align-items: center; // Alinea el ícono y el nombre en la misma línea
  background: #050505b9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;

  @media (min-width: 601px) {
    margin-bottom: 0;
    align-items: flex-start; // Alinea el encabezado a la izquierda en pantallas grandes
  }
}

.type-icon {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px; // Espacio entre el ícono y el nombre en dispositivos pequeños
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  color: $color-white;
}

.pokemon-info {
  background: #8100005e;
  padding: 30px;
  border-radius: 10px;
  width: 60%;
  height: 60vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Dos columnas
  gap: 10px; // Espacio entre columnas

  p {
      display: flex;
      flex-direction: column; // Alinea el nombre y el valor en una columna
      margin: 5px 0;
      font-size: 20px;
      color: $color-white;

      strong {
          font-weight: bold;
          margin-bottom: 5px; // Espacio entre el nombre y el valor
      }
  }

  @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);; // Una columna en pantallas pequeñas
      width: 100%;
  }
}

@media (max-width: 600px) {
  .pokemon-details-container {
    max-width: 100%;
  }
}

/* END MAIN SECTION */


/* SECTION FOOTER */
.footer {
  padding: 3rem;
  background-color: #050505b9;
  border-radius: 15px 15px 0 0;



  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; // Alinear en columna para el título y las cards
    align-items: center;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 15px;
      color: $color-white; // Espacio entre el título y las cards
      
    }

    #pokemon-cards {
      display: flex; // Diseño en flex por defecto para escritorio
      gap: 4rem; // Espacio entre las cards
      flex-wrap: wrap; // Permitir que las cards se envuelvan en varias líneas

      .pokemon-card {
        position: relative;
        width: 115px; // Tamaño base de las cards
        height: 115px;
        border-radius: 8px;
        display: flex;
        align-items: flex-end; // Alinear los elementos al final
        justify-content: center;
        color: white;
        font-weight: bold;
        overflow: visible; // Permitir que el contenido se desborde
        padding-bottom: 2rem; // Espacio para el nombre
        flex-direction: column;

        .pokemon-img {
          width: 150px;
          height: 150px;
          position: absolute;
          top: -50px; // Posicionar la imagen para que sobresalga
        }

        .pokemon-name {
          position: absolute;
          bottom: 0; // Colocar el nombre en la parte inferior
          background: rgba(0, 0, 0, 0.6); // Fondo semitransparente para el nombre
          text-align: center;
          font-size: 12px;
          padding: 2px 0;
          width: 100%;
          border-radius: 0 0 5px 5px;
        }

        &.type-fire {
          background-color: #da4444d5;
        }

        &.type-water {
          background-color: #2889f89a;
        }

        &.type-grass {
          background-color: #41d65a75;
        }

        // Agrega más tipos según sea necesario
        &.type-default {
          background-color: #a3c4c2b0;
        }
      }
      .error-message {
        color: rgb(0, 0, 0);
        font-size: 1.2em;
        text-align: center;
        margin: 20px;
      }
      
    }
  }

  // Media query para vistas móviles
  @media (max-width: 768px) {
    section {
      flex-direction: column; // Alinear en columna para móviles
    }
    
    #pokemon-cards {
      display: grid; // Cambiar a diseño en cuadrícula
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // Dos columnas en tamaño reducido
      gap: 1rem; // Espacio entre las cards
      margin-top: 15px; // Ajustar margen para colocar las cards 15px abajo del título
      overflow-x: hidden; // Evitar scroll horizontal
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    #pokemon-cards {
      grid-template-columns: repeat(2, 1fr); // Dos columnas en pantalla pequeña
      gap: 1rem; // Espacio entre las cards
      margin-top: 15px; // Ajustar margen para colocar las cards 15px abajo del título
      overflow-x: hidden; // Evitar scroll horizontal
      justify-content: center;
    }
  }
}