@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-verdeoscuro: #006769;
$color-iconobusqueda: #40A578;
$color-bordes: #E6FF94;
$bg-color: #181818;
$color-white: #ffffff;
$color-fondo: #FFF6E9;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

body {
  padding: 0.5rem 1.5rem;
  background-color: $color-fondo;
  color: $color-white;
  transition: background-color 0.9s, color 0.9s;
  // animation-duration: 500ms;
}

/* Modo oscuro */
body.dark_mode {
  background-color: black;
  color: white;
  transition: background-color 0.9s, color 0.9s;
}


/* HEADER SECTION */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(5px);
  background-color: $color-verdeoscuro;
  border-radius: 15px 15px;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 15px 15px;

    .logo-img {
      display: flex;
      align-items: center;
      // margin-right: 1rem;
      width: 7%; // Ajusta según el tamaño deseado
      height: auto;
    }

    h1 {
      font-size: 2.3vw;
      // color: $color-white;
      margin-right: 2%;
    }

    form {
      display: flex;
      margin-top: auto;
      width: 41.6vw;
      aspect-ratio: 568/48;

      input {
        background-color: $color-white;
        outline: none;
        border: 2px solid $color-iconobusqueda;
        border-radius: 20px 0 0 20px;
        width: 100%;
        height: 100%;
        font-size: 1.3vw;
        padding: 0.5rem 1rem;
        color: $bg-color;
        border-right: none;
      }

      button {
        width: 15.5%;
        height: 100%;
        background-color: $color-iconobusqueda;
        border: 2px solid $color-iconobusqueda;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg path{
          width: 1.76vw;
          color: $color-white;
          fill: $color-white;
        }
      }
    }
    #toggle_dark_mode{
      border-radius: 20px;
      border: none;
      position: relative;
      cursor: pointer;
      display: flex;
      outline: none;
      &::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px black;
      }
      &.active{
        color: #181818;
        &::after{
          right: 0;
          left: unset;
        }
      }

      svg{
        width: 20px;
        height: 20px;
        line-height: 30px;
        display: block;
        background: none;
        color: white;
      }
    }
  }
}
/* END SECTION HEADER */


// Media query para adaptar el encabezado a pantallas móviles
@media (max-width: 768px) {
  .pokemon-header{
    .type-icon{
      margin-top: 1%;
    }
  }
  .header {
  section {
    flex-direction: column; // Cambiar a columna para móviles
    align-items: center; // Alinear verticalmente
    gap: 1rem; // Espacio entre los elementos

    .logo-img {
      width: 20%;
      margin-bottom: 1rem;
      margin-top: 1rem; // Espacio debajo del logo
      margin-right: 0; // Eliminar margen derecho
    }

    h1 {
      font-size: 1rem;
      margin-bottom: 1rem; // Espacio debajo del título
    }

    form {
      width: 80%; // Asegurar que el formulario se ajuste al ancho del contenedor
      height: 30px;
      margin-top: 0;
      margin-bottom: 1rem; // Eliminar margen superior

      input {

        width: 84.5%;
        height: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: $bg-color;
        border-right: none;
      }

      button {
        svg {
          width: 3vw;
        }
      }
    }
  }
}

  @media (max-width: 480px) {
    section {
      gap: 1rem; // Espacio entre los elementos en pantallas más pequeñas

      .logo {
        margin-bottom: 0.5rem; // Espacio debajo del logo
      }

      h1 {
        margin-bottom: 0.5rem; // Espacio debajo del título
      }

      form {
        width: 80%; // Asegurar que el formulario se ajuste al ancho del contenedor
        button {
          svg {
            width: 4vw;
          }
        }
      }
    }
  }
}





/* MAIN SECTION */
.pokemon-details-container {
  background-color: $color-verdeoscuro;
  backdrop-filter: blur(1.5625rem);
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  border-radius: 20px;
  // border: 4px solid rgb(163, 118, 255);
  max-width: 800px; // Ajusta el ancho máximo si es necesario
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2rem;

  @media (min-width: 601px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pokemon-image-container {
  display: flex;
  flex-direction: column; // Asegura que el encabezado esté encima de la imagen
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 601px) {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.pokemon-img {
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}

.pokemon-img:hover{
  transform: scale(1.2);
}

.pokemon-header {
  gap: 8px;
  display: flex;
  align-items: center; // Alinea el ícono y el nombre en la misma línea
  border: 2px solid $color-bordes;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;

  @media (min-width: 601px) {
    margin-bottom: 0;
    align-items: flex-start;// Alinea el encabezado a la izquierda en pantallas grandes
  }
}

.type-icon {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px; // Espacio entre el ícono y el nombre en dispositivos pequeños
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  // color: $color-white;
}

.pokemon-info {
  border: 2px solid $color-bordes;
  padding: 30px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Dos columnas
  gap: 10px; // Espacio entre columnas

  p {
      display: flex;
      flex-direction: column; // Alinea el nombre y el valor en una columna
      margin: 5px 0;
      font-size: 20px;
      // color: $color-white;

      strong {
          font-weight: bold;
          margin-bottom: 5px; // Espacio entre el nombre y el valor
      }
  }

  @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);; // Una columna en pantallas pequeñas
      width: 100%;
  }
}

@media (max-width: 600px) {
  .pokemon-header{
    .type-icon{
      margin-top: 5%;
    }
  }
  .pokemon-details-container {
    max-width: 100%;
  }
  .pokemon-info{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* END MAIN SECTION */


/* SECTION FOOTER */
  .footer {
  backdrop-filter: blur(1.5625rem);
  padding: 3rem;
  background-color: $color-verdeoscuro;
  border-radius: 15px 15px 0 0;




  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; // Alinear en columna para el título y las cards
    align-items: center;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 15px;
      // color: $color-white;

    }

    #pokemon-cards {
      display: flex; // Diseño en flex por defecto para escritorio
      gap: 4rem; // Espacio entre las cards
      flex-wrap: wrap; // Permitir que las cards se envuelvan en varias líneas

      .pokemon-card {
        position: relative;
        width: 115px; // Tamaño base de las cards
        height: 115px;
        border-radius: 8px;
        display: flex;
        align-items: flex-end; // Alinear los elementos al final
        justify-content: center;
        // color: white;
        font-weight: bold;
        overflow: visible; // Permitir que el contenido se desborde
        padding-bottom: 2rem; // Espacio para el nombre
        flex-direction: column;
        cursor: pointer;

        .pokemon-img {
          width: 150px;
          height: 150px;
          position: absolute;
          top: -50px; // Posicionar la imagen para que sobresalga
        }

        .pokemon-name {
          position: absolute;
          bottom: 0; // Colocar el nombre en la parte inferior
          background: rgba(0, 0, 0, 0.6); // Fondo semitransparente para el nombre
          text-align: center;
          font-size: 12px;
          padding: 2px 0;
          width: 100%;
          border-radius: 0 0 5px 5px;
        }

        &.type-fire {
          background-color: #e07918d5;
        }

        &.type-water {
          background-color: #2b75c99a;
        }

        &.type-grass {
          background-color: #a9f3ad86;
        }

        &.type-bug {
          background-color: #97ee6fc5;
        }

        &.type-electric {
          background-color: #fadd36be;
        }

        &.type-psychic {
          background-color: #dca0ff77;
        }

        &.type-fairy {
          background-color: #faaadfc4;
        }


        &.type-steel {
          background-color: #f7f7f7b2;
        }

        &.type-normal {
          background-color: transparent;
        }

        &.type-ghost {
          background-color: #f5edede5;
        }

        &.type-rock {
          background-color: #8a7143ab;
        }

        &.type-dark {
          background-color: #000000ab;
        }

        &.type-poison {
          background-color: #350f32ce;
        }

        // Agrega más tipos según sea necesario
        &.type-default {
          background-color: #d5d8d87c;
        }
      }
      .error-message {
        color: $color-white;
        font-size: 1.2em;
        text-align: center;
        margin: 20px;
      }

    }
  }

  // Media query para vistas móviles
  @media (max-width: 768px) {
    section {
      flex-direction: column; // Alinear en columna para móviles
    }

    #pokemon-cards {
      display: grid; // Cambiar a diseño en cuadrícula
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // Dos columnas en tamaño reducido
      gap: 1rem; // Espacio entre las cards
      margin-top: 15px; // Ajustar margen para colocar las cards 15px abajo del título
      overflow-x: hidden; // Evitar scroll horizontal
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    #pokemon-cards {
      grid-template-columns: repeat(2, 1fr); // Dos columnas en pantalla pequeña
      gap: 1rem; // Espacio entre las cards
      margin-top: 15px; // Ajustar margen para colocar las cards 15px abajo del título
      overflow-x: hidden; // Evitar scroll horizontal
      justify-content: center;
    }
  }
}